@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lobasoft_Erp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Lobasoft_Erp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lobasoft_Erp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.FindFirst(ClaimTypes.Role)?.Value == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="LBS_AreaComercial" asp-action="Index">AreaComercial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedores</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Orden" asp-action="Index">Realizar Orden</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Proveedor" asp-action="Index">Consultar Ordenes</a>
                                </li>
                            }
                        }
                    </ul>
                    <ul class="nav nav-tabs ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="nav" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-user fa-lg" style="color: #cc6400;"></i>
                                </a>
                                <ul class="dropdown-menu navega">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <span class="dropdown-item" style="font-size: smaller;">
                                                @User.FindFirst(ClaimTypes.Email)?.Value
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <span class="dropdown-item" style="font-size: smaller;">
                                                @User.Identity.Name
                                            </span>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-black dropdown-item" style="font-size: smaller;" href="@Url.Action("CambiarPassword", "U_Usuarios", new { Email = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value })">
                                                Cambiar contraseña
                                            </a>
                                        </li>

                                    }
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link  text-light Nav-a dropdown-item" asp-area="" asp-controller="U_Usuarios" asp-action="Logout">
                                    Cerrar Sesión
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light Nav-a dropdown-item" asp-controller="U_Usuarios" asp-action="Login">
                                    Iniciar sesión
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2023 - Lobasoft_Erp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/d7bdf83437.js" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
